#include "../src/resource.h"
#include <winres.h>

IDI_APP_ICON ICON "app.ico"

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "app.manifest"

VS_VERSION_INFO VERSIONINFO
    FILEVERSION     1,0,0,0
    PRODUCTVERSION  1,0,0,0
    FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
    FILEFLAGS       0
    FILEOS          VOS__WINDOWS32
    FILETYPE        VFT_APP
    FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName",      "ColorSwitcher"
            VALUE "FileDescription",  "ColorSwitcher - Display Color Preset Manager"
            VALUE "FileVersion",      "1.0.0.0"
            VALUE "InternalName",     "ColorSwitcher"
            VALUE "LegalCopyright",   "Copyright (C) 2026"
            VALUE "OriginalFilename", "ColorSwitcher.exe"
            VALUE "ProductName",      "ColorSwitcher"
            VALUE "ProductVersion",   "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
